doc/src/jMarkovManual/auto
doc/src/jMarkovManual/jMarkovManual.aux
doc/src/jMarkovManual/jMarkovManual.bbl
doc/src/jMarkovManual/jMarkovManual.blg
doc/src/jMarkovManual/jMarkovManual.idx
doc/src/jMarkovManual/jMarkovManual.out
doc/src/jMarkovManual/jMarkovManual.synctex.gz
doc/src/jMarkovManual/jMarkovManual.toc
